html, body
{
	width: 100%;
	height: 100%;
	background: #CC99FF;
	color: #fff;
	margin: 0px;
	border: 0px;
	padding: 0px;
	font-family: "Calibri";
	font-size: 12pt;
}
h2
{
	padding: 0px;
	border: none;
	margin: 0px;
}
header, h1
{
	background: #523D66;
	margin: 0px;
	border: 0px;
	font-family: "Arial Black","Arial","Sans";
}

h2
{
	font-family: "Arial","Sans";
	background: linear-gradient(#000,#CC99FF);
	color: #fff;
	border: 5px solid #fff;
}

div.action_item
{
	display: inline-block;
	text-align: center;
}

div.action_item > a
{
	width: 100%;
	height: 100%;
	color: #000;
}

header, h1, header > div, header > div  > img
{
	vertical-align: middle;
}

header
{
	height: 64px;
}

header ul li
{
	width: 64px;
	height: 64px;
	border: none;
	margin: 0px;
	padding: 0px;
	display: inline-block;
	vertical-align: middle;
}

ul > li > a
{
	display: block;
	width: 100%;
	height: 100%;
}

header > div
{
	height: 100%;
}

h1
{
	display: inline-block;
	vertical-align: middle;
}

header > div, div#content
{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

header ul
{
	width: 140px;
	float: right;
	list-style: none;
	margin: 0px;
	padding: 0px;
	border: none;
	vertical-align: middle;
	text-align: right;
}

ul > li > a, ul > li > a > img
{
	margin: 0px;
	border: none;
	padding: 0px;
}

div#content
{
	background: #fff;
}

div#content
{
	color: #000;
}

textarea
{
	min-height: 150px;
	width: 90%;
}