body,html
{
	margin: 0px;
	border: none;
	padding: 0px;
}

header h1, header img
{
	display: inline-block;
}

#content
{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	color: black;
}

header ul
{
	width: 140px;
	float: right;
	list-style: none;
	margin: 0px;
	padding: 0px;
	border: none;
	vertical-align: middle;
	text-align: right;
}

header ul li
{
	display: inline-block;
}

ul > li > a, ul > li > a > img
{
	margin: 0px;
	border: none;
	padding: 0px;
}

div#content
{
	background: #fff;
}


textarea
{
	min-height: 150px;
	width: 90%;
}

.inline-form
{
	display: inline-block;
	margin-left: 2px;
}

.brcp-panel
{
	margin-top: 25px;
}

header
{
	background: #E6C2EF;
	color: white;
	font-size: 16pt;
	padding: 25px;
}

.action_item, .action-item
{
	padding: 10px;
	display: inline-block;
}

.action_item a, .action-item a
{
	color: #000;
}

div.sign-in
{
	background: #E6C2EF;
	width: 500px;
	padding: .5in;
	float: left;
	color: black;
}

.sign-in-bar
{
	display: table-cell;
	background: darkOrchid;
	width: 100%;
	position: fixed;
	top: 50%;
	margin-top: -250px;
	color: white;
	text-align: right;
	vertical-align: bottom;
	padding-right: 10px;
}

div.version
{
	position: absolute;
	bottom: 0px;
	right: 10px;
	font-size: 9pt;
	color: #ccc;
}

body.sign-in
{
	background: Orchid;
	padding: 0px;
	border: none;
}
